mat-card {
  max-width: 500px;
  margin: auto;
}

.full-width {
  width: 100%;
}

.middle {
  width: 15px;
}

.mat-radio-button {
  margin: 0 12px;
}

.container {
  background-color: rgba(255, 255, 255, 0) !important;
  min-height: 710px;
}

mat-card-actions button:focus {
  outline: 0px;
}

.bg {
  position: relative;
  width: 100%;
  background-color: rgb(220, 235, 255);
}
