
<div class="top">
<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="Search">
     <button type="submit" class="searchButton">
       <!-- <i class="fa fa-search"></i> -->
    </button>
  </div>
</div>
</div>

  <p>Driver's Details</p>

 
  <br><br> <div class="center">
    <form action="/action_page.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br><br><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br><br>
        <label for="licenseNo">License Card Number:</label><br>
        <input type="text" id="licenseNo" name="licenseNo" value=""><br><br><br>
        <label for="famount">Fine amount:</label><br>
        <input type="text" id="famount" name="famount" value=""><br><br><br>
        <input type="submit" value="Submit">
      </form>
      </div><br><br><br>
   
