<!-- <mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Profile</mat-card-title>
    <mat-card-subtitle>details</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-card>ID    <input matInput formControlName="Ctrl_1"> </mat-card>
    <mat-card>Name <input matInput formControlName="Ctrl_2"></mat-card>
    <mat-card>Email <input matInput formControlName="Ctrl_3"></mat-card>
    <mat-card>Name <input matInput formControlName="Ctrl_4"></mat-card>
    <mat-card>Name <input matInput formControlName="Ctrl_5"></mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update</button>
    <button mat-button>Delete</button>
  </mat-card-actions>
</mat-card> -->

<!-- <div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">PROFILE</h1>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Fist Name</td>

      </tr>
      <tr>
        <td>Last Name</td>

      </tr>
      <tr>
        <td>Email</td>
        <button (click)="userfun()">
          UserDetails
        </button>
        <td></td>
      </tr>
    </table>
  </div>
</div>  -->

<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Employee</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input class="form-control" type="text" formControlName="email">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
              Enter your email.
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
              Enter valid email.
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3">Designation</label>
            <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
              formControlName="designation">
              <option value="">Choose...</option>
              <option *ngFor="let employeeProfile of EmployeeProfile" value="{{employeeProfile}}">{{employeeProfile}}
              </option>
            </select>
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.designation.errors?.required">
              Choose designation.
            </div>
          </div>

          <div class="form-group">
            <label for="inputVerify3">Mobile No</label>
            <input class="form-control" type="text" formControlName="phoneNumber">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.required">
              Enter your phone number.
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.pattern">
              Enter Numbers Only
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" (click)="getEmployee()">Update</button>
          </div>
        </form>
      </div>
    </div><!-- form  -->
  </div>
</div>
