<div class="bg">
  <div class="container pt-4 pb-4">
    <mat-card-content class="justify-content-center">
      <h1>ADD POST OFFICE </h1>
      <div class="justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Post office Name</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Post office Code</mat-label>
          <input matInput>
        </mat-form-field>
        <section>
          <div class="example-button-row">
            <button mat-raised-button color="primary">Sumbit</button>
          </div>
        </section>
      </div>
    </mat-card-content>
  </div>
</div>

<!--police station-->
<div class="bg">
  <div class="container pt-4 pb-4">
    <mat-card-content>
      <h1>ADD POLICE OFFICE </h1>
      <div class="justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Police office Name</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Discrict</mat-label>
          <mat-select>
            <mat-option value="option">Option1</mat-option>
            <mat-option value="option">Option2</mat-option>
           </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Division</mat-label>
          <mat-select>
            <mat-option value="option">Option1</mat-option>
            <mat-option value="option">Option2</mat-option>
          </mat-select>
        </mat-form-field>
        <section>
          <div class="example-button-row">
            <button mat-raised-button color="primary">Sumbit</button>
          </div>
        </section>
      </div>
    </mat-card-content>
  </div>
</div>


