.bg {
  width: 100%;
  background-color: rgb(220, 235, 255);
  min-height: calc(100vh - 80px - 54px - 57px);
}
.pdf {
  height: 500px;
  width: 70%;
}

.pdf iframe {
  height: 100%;
  width: 100%;
}

.pdf-4x3 {
  padding-top: 75%;
}
